// src/app/tutorial-instruction/tutorial-instruction.component.scss
.tutorial-instruction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #392BFE;
  font-family: Helvetica, Arial, sans-serif;
  padding: 0 10px;
  text-align: center;
  background: linear-gradient(180deg, #5F54FF, #FFFFFF);
}
.skip-button {
  position: absolute;
  top: 10vh;
  right: 41vw;
  background: none;
  border: none;
  font-size: 3vw;
  color: #392BFE;
  cursor: pointer;
}
.arrow-button {
  font-size: 5vw;
  margin-top: 5vh;
  background: none;
  border: none;
  color: #392BFE;
  cursor: pointer;
}
.video-container {
  width: 90%;
  max-width: 600px;
  margin-top: 5vh;
}
video {
  width: 100%;
  border: 1px solid #392BFE;
  border-radius: 8px;
}